- if country.player.active?
  .army.target{ id: country.id, style: "background-color: #{country.player.color};" }
    =button_to "#{country.army.size}", draft_troops_path(game: params[:game], country_id: country.id)

- else
  = render "country_default", country: country
