- if country
  - region_class = country.region.name.downcase.gsub('_', '-')
  - region_class_left  = "#{region_class}-left"
  - region_class_right = "#{region_class}-right"

  .left{ class: region_class_left }
  .middle{ class: region_class }= render "hex_inner", country: country
  .right{ class: region_class_right }

- else
  .left.water-left
  .middle.water
  .right.water-right
