.map
  - for x in 1..@grid.length-1
    .hex-row
      - for y in 1..@grid[x].length-1
        - if y.even?
          .hex.even
            = render 'hex', country: @grid[x][y], x: x, y: y
        - else
          .hex
            = render 'hex', country: @grid[x][y], x: x, y: y
