!!! 5
%html(lang="en")
  %head
    = render 'layouts/metahead'

  %body
    .container
      .row
        .span24
          - flash.each do |key, value|
            = content_tag(:div, value, :class => "round flash #{key}")

          %main
            = yield

      %foot
        <!-- Empty footer -->
